#!/bin/sh

pif=em0
local=192.168.0.0/16
dns=

freenas=
unifi=
transmission=
emby=
airsonic=
nextcloud=

# Flush the current ruleset
ipfw -q -f flush
cmd="ipfw -q add"

$cmd 00001 check-state
$cmd 00002 deny ip6 from any to any

#### Internals ####
$cmd 00010 allow all from any to any via lo0
$cmd 00020 allow all from any to any via bridge0

#### Outbounds ####
$cmd 00100 allow icmp from me to any via $pif keep-state
$cmd 00110 allow udp from me to any 123 out via $pif keep-state
$cmd 00120 allow tcp from me to $dns 53 out via $pif setup keep-state
$cmd 00130 allow udp from me to $dns 53 out via $pif keep-state
$cmd 00140 allow tcp from me to any 43 out via $pif setup keep-state
$cmd 00150 allow tcp from me to any 22 out via $pif setup keep-state
$cmd 00160 allow tcp from me to any 80 out via $pif setup keep-state
$cmd 00170 allow tcp from me to any 443 out via $pif setup keep-state

#### Inbounds ####
$cmd 00200 allow icmp from $local to me in via $pif keep-state

#### FreeNAS ####
$cmd 00200 allow tcp from $local to $freenas 22 in via $pif setup keep-state
$cmd 00210 allow tcp from $local to $freenas 80 in via $pif setup keep-state
$cmd 00220 allow tcp from $local to $freenas 443 in via $pif setup keep-state
$cmd 00230 allow tcp from $local to $freenas 139 in via $pif setup keep-state
$cmd 00250 allow tcp from $local to $freenas 445 in via $pif setup keep-state
$cmd 00260 allow tcp from $local to $freenas 5901-5910 in via $pif keep-state
$cmd 00270 allow tcp from $freenas to any 25 out via $pif setup keep-state
$cmd 00280 allow tcp from $freenas to any 110 out via $pif setup keep-state

#### UniFi ####
$cmd 00300 allow udp from $local to $unifi 3478 in via $pif keep-state
$cmd 00310 allow tcp from $local to $unifi 8080 in via $pif setup keep-state
$cmd 00320 allow tcp from $local to $unifi 8443 in via $pif setup keep-state
$cmd 00330 allow udp from $local to $unifi 10001 in via $pif keep-state
$cmd 00340 allow tcp from $unifi 8080 to $local out via $pif setup keep-state

#### Nextcloud ####
$cmd 00400 allow tcp from any to $nextcloud 443 in via $pif setup keep-state

#### Transmission ####
# uses its own jail firewall

#### OpenVPN ####
# uses its own jail firewall

#### Emby ####
$cmd 00600 allow tcp from $local to $emby 8096 in via $pif setup keep-state

#### Airsonic ####
$cmd 00700 allow tcp from $local to $airsonic 8080 in via $pif setup keep-state

#### Default Deny ####
$cmd 65534 deny log all from any to any
